.Wallet {
	display: flex;
	flex-direction: column;
	margin: 20px 0;
}

.adress {
	margin: 20px 0;
	color: var(--logo-color);
	background: var(--primary--input);
	padding: 20px 10px;
	border: 1px solid var(--logo-color);
}

.adressText {
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
	padding: 20px 0;
}

.list {
	display: flex;
	flex-direction: column;
}

.item {
	color: var(--logo-color);
	background: var(--primary--input);
	margin: 20px 0;
	padding: 20px 10px;
	border-radius: 10px;
	border: 1px solid var(--logo-color);
}