.wrapper {
	padding: 5px;
	border: 1px solid var(--genie-colors-textSecondary);
	border-radius: 16px;
	display: inline-flex;
}

.modeIcon {
	margin: 0 10px;
	padding: 5px 10px;
}

.lightActive {

	background: rgba(251, 17, 142, 0.12);
	border-radius: 16px;
}

.lightActive svg {
	stroke: #FB118E;
}

.darkActive {
	background-color: rgb(76, 130, 251, 0.24);
	border-radius: 16px;
}

.darkActive svg {
	stroke: rgb(76, 130, 251);

}