.wrapper {
	position: fixed;
	width: 390px;
	top: 30px;
	right: 10px;
	min-height: calc(100% - 40px);
	height: 100%;
	background-color: var(--primary-colors-background);
	border: none;
	color: var(--genie-colors-textSecondary);
	font-weight: bold;
	padding: 20px;

}

.dark {
	background-color: #131a2a !important;
}

.container {
	padding: 10px 0;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header span {
	display: block;
	text-align: center;
}

.close {
	cursor: pointer;
}

.title {
	margin: 20px auto;
}

.list {
	display: flex;
	flex-direction: column;
}

.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}